In [40]:
import pickle
import Data as d

In [41]:
path = "Datasets/FB15k-237/"
data = d.Data(path)

In [42]:
print(data.train_data[0], "\n", len(data.train_data))

['/m/027rn', '/location/country/form_of_government', '/m/06cx9']
 272115

In [43]:
print(data.valid_data[0], "\n", len(data.valid_data))

['/m/07pd_j', '/film/film/genre', '/m/02l7c8']
 17535

In [44]:
print(data.test_data[0], "\n", len(data.test_data))

['/m/08966', '/travel/travel_destination/climate./travel/travel_destination_monthly_climate/month', '/m/05lf_']
 20466

In [27]:
print(data.data[0], "\n", len(data.data))

['/m/027rn', '/location/country/form_of_government', '/m/06cx9']
 310116

In [28]:
print(data.train_relations[0], "\n", len(data.train_relations))

/american_football/football_team/current_roster./sports/sports_team_roster/position
 237

In [29]:
print(data.valid_relations[0], "\n", len(data.valid_relations))

/american_football/football_team/current_roster./sports/sports_team_roster/position
 223

In [30]:
print(data.test_relations[0], "\n", len(data.test_relations))

/award/award_category/category_of
 224

In [31]:
print(data.relations[0], "\n", len(data.relations))

/american_football/football_team/current_roster./sports/sports_team_roster/position
 237

In [32]:
print(data.entities[0], "\n", len(data.entities))

/m/010016
 14541

### Make triples:

In [45]:
entity_idxs = {data.entities[i]:i for i in range(len(data.entities))}
relation_idxs = {data.relations[i]:i for i in range(len(data.relations))}

print(len(entity_idxs), "\n", len(relation_idxs))

14541
 237

In [46]:
def get_data_idxs(data, entity_idxs, relation_idxs):
    data_idxs = [
        (entity_idxs[data[i][0]],
         relation_idxs[data[i][1]],
         entity_idxs[data[i][2]]) for i in range(len(data))
    ]
    return data_idxs

In [47]:
train_triples = get_data_idxs(data.train_data, entity_idxs, relation_idxs)
print(len(train_triples), len(set(train_triples)))

272115 272115

In [48]:
valid_triples = get_data_idxs(data.valid_data, entity_idxs, relation_idxs)
print(len(valid_triples), len(set(valid_triples)))

17535 17535

In [49]:
test_triples = get_data_idxs(data.test_data, entity_idxs, relation_idxs)
print(len(test_triples), len(set(test_triples)))

20466 20466

In [50]:
train_valid_triples = train_triples.copy()
train_valid_triples.extend(valid_triples)
len(train_valid_triples)

289650

In [52]:
set(train_triples).intersection(set(valid_triples))

set()

In [53]:
set(train_triples).intersection(set(test_triples))

set()

In [39]:
path = "FB15K237/"
pickle.dump(train_triples, open(path + 'train_triples', 'wb'))
pickle.dump(valid_triples, open(path + 'valid_triples', 'wb'))
pickle.dump(test_triples, open(path + 'test_triples', 'wb'))
pickle.dump(train_valid_triples, open(path + 'train_valid_triples', 'wb'))

pickle.dump(data.entities, open(path + 'entity_list', 'wb'))
pickle.dump(data.relations, open(path + 'relation_list', 'wb'))

pickle.dump(entity_idxs, open(path + 'entity_map', 'wb'))
pickle.dump(relation_idxs, open(path + 'relation_map', 'wb'))